@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@400;700&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --color-primary: #ff3939;
  --color-secondary: #ffffff;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-secondary);
}

/* Custom scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: var(--color-secondary);
  border-radius: 10px; /* Add border to scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border: 3px solid var(--color-secondary); /* Add border to scrollbar thumb */
  border-radius: 10px;
}

/* Custom scrollbar styles for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) var(--color-secondary);
}

*::-webkit-scrollbar-track {
  border-radius: 10px; 
}

*::-webkit-scrollbar-thumb {
  border: 3px solid var(--color-secondary); /* Add border to scrollbar thumb */
  border-radius: 10px;
}

.bold-list-decimal li::marker {
  font-weight: 600;
  color: var(--color-primary);
}

.bold-list-alpha li::marker {
  font-weight: bold;
  color: var(--color-primary);
}

/* slides */
.slick-slide > div {
  margin: 0 3px;
}

p {
  text-indent: 1.5rem;
}